<br><br>
<!-- <div class="container">
  <a routerLink="/admin">Learnspace Admin</a>
</div> -->

<br><br><br><br>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 left"></div>
    <div class="col-md-6 right"></div>
  </div>

  <div class="row">
    <div style="background-color:green" class="col-md-6 left"></div>
    <div style="background-color:orange" class="col-md-6 right"></div>
  </div>

</div>
<br>
<div class="footer">

  <div style="padding:10px 50px 20px 50px" class="container">
      * New subscribers only. Plan automatically renews after trial.
    <hr>
    <div class="row">
      <div class="col-lg-2">Shop and Learn
        </div>
      <div class="col-lg-2">Apple Store
        </div>
      <div class="col-lg-2">For Education
        </div>
      <div class="col-lg-2">Account
        </div>
      <div class="col-lg-2">About Apple
        </div>
    </div>

  </div>
</div>